body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    font-family: Arial, sans-serif;
    font-size: 20pt;
    font-weight: bolder;
    margin-left: 610px;
    margin-top: 200px;
}

.btn0 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 10pt;
    width: 100px;
    height: 25px;
    border: none;
    border-radius: 2px;
    margin-left: 1350px;
    margin-top: 10px;
    background-color: blue;
    color: white;
    cursor: pointer;
}

.storage-search {
    display: flex;
}

.search {
    display: flex;
    width: 300px;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 580px;
}

.btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 2px;
    margin-left: 10px;
    background-color: blue;
    color: white;
    cursor: pointer;
}

