åbody {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    background-color: black;
}

.header {
    display: flex;
    font-family: Arial, sans-serif;
    font-size: 20pt;
    font-weight: bolder;
    margin-top: 20px;
    margin-left: 20px;
}
.header a {
    text-decoration: none;
    color: white;
}

.nav-form-buttons {
    display: flex;
    flex-direction: row;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    gap: 25px;
    margin-left: 300px;
    margin-top: 25px;
    cursor: pointer;
}

.btn0 {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: Arial, sans-serif;
    font-size: 20pt;
    font-weight: bolder;
    width: 250px;
    height: 35px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 2px;
}

.btn1 {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: Arial, sans-serif;
    font-size: 20pt;
    font-weight: bolder;
    width: 250px;
    height: 35px;
    background-color: green;
    color: black;
    border: none;
    border-radius: 2px;
}

.btn2 {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: Arial, sans-serif;
    font-size: 20pt;
    font-weight: bolder;
    width: 250px;
    height: 35px;
    background-color: blue;
    color: white;
    margin-left: 150px;
    border: none;
    border-radius: 2px;
}