body {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

.navbar {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: black;
}

.header {
    display: flex;
    font-family: Arial, sans-serif;
    font-size: 25pt;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

.header a {
    text-decoration: none;
    color: white;
    margin-top: -10px;
    margin-left: 20px;
}

.btn0-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    width: 130px;
    height: 25px;
    font-family: Arial, sans-serif;
    font-size: 12pt;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
    margin-left: 20%;
}

.lab0 {
    display: flex;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    margin-left: 10%;
    margin-top: 5%;
}
.inp0 {
    display: flex;
    width: 250px;
    height: 25px;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    margin-left: 10%;
    margin-top: 2px;
}
.lab1 {
    display: flex;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    margin-left: 10%;
    margin-top: 1%;
}
.inp1 {
    display: flex;
    width: 250px;
    height: 25px;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    margin-left: 10%;
    margin-top: 2px;
}
.lab2 {
    display: flex;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    margin-left: 10%;
    margin-top: 1%;
}
.barcode-select-type {
    display: flex;
    width: 250px;
    height: 25px;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: bold;
    margin-left: 10%;
    margin-top: 2px;
}

.btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: blue;
    width: 250px;
    height: 25px;
    font-family: Arial, sans-serif;
    font-size: 13pt;
    font-weight: bolder;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 1%;
    margin-left: 10%;
}
.btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: red;
    width: 250px;
    height: 25px;
    font-family: Arial, sans-serif;
    font-size: 13pt;
    font-weight: bolder;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 1%;
    margin-left: 10%;
}
.btn3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: green;
    width: 250px;
    height: 25px;
    font-family: Arial, sans-serif;
    font-size: 13pt;
    font-weight: bolder;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 1%;
    margin-left: 10%;
}

